:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

body {
  width: 100%;
  height: 100%;
}

.root {
  width: 100%;
  height: auto;
  background: #000;
  color: #0f0;
}


/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: #0f0 1px solid;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #000; /* optional */
  height: 70px; /* set a height */
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.container p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
}

.content {
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
}


/* Tree Node */
.tree-node {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.node-label {
  display: flex;
  align-items: center;
  padding: 4px 0;
}

.node-label.clickable:hover {
  cursor: pointer;
}

.icon {
  width: 20px;
  display: inline-block;
  text-align: center;
}

.node-link {
  color: #0066cc;
  text-decoration: none;
  transition: text-decoration 0.2s;
}

.node-link:hover {
  text-decoration: underline;
}

.node-text {
  color: #0f0;
}
